
@font-face {
  font-family: 'lyon-display';
  src: url('fonts/LyonDisplay-Medium-Web.eot');
  src: url('fonts/LyonDisplay-Medium-Web.eot?#iefix') format('embedded-opentype'),
       url('fonts/LyonDisplay-Medium-Web.woff2') format('woff2'),
       url('fonts/LyonDisplay-Medium-Web.woff') format('woff');
  font-weight: normal;
}
@font-face {
  font-family: 'sharp-sans';
  src: url('fonts/SharpSans-Semibold.eot');
  src: url('fonts/SharpSans-Semibold.eot?#iefix') format('embedded-opentype'),
       url('fonts/SharpSans-Semibold.woff2') format('woff2'),
       url('fonts/SharpSans-Semibold.woff') format('woff');
  font-weight: bold;
}

.social-card {
  background: #FFF;
  background: url('images/background-noko-time-tracking-sprinkles.svg');
  padding: 1em;
  box-sizing: border-box;
  font-size: 22px;
  color: #000;
  x-border: solid 1px #000;
  position:relative;
}
.header {
  width:1024px;
  x-content: url('images/header.png');
  position: absolute;
  top:0;
}
.footer {
  width:1024px;
  x-content: url('images/footer.png');
  position: absolute;
  bottom:0;
}
.social-card .logo {
  display: block;
  margin: 0 auto 20px;
}
.social-card .inner-wrapper {
  background: #fff;
  padding: 2em;
  height: 380px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  justify-items: center;
}
.social-card h1 {
  text-align:center;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 2em;
  line-height: 1.1em;
  font-weight:900;
  max-width: 100%;
  margin: 20px auto 60px;
}
.try {
  text-align: center;
}
.try span {
  font-weight: bold;
  color: rgb(236,73,124);
  border: 2px solid rgb(236,73,124);
  border-radius: 20px;
  padding: 5px 30px;
}
.author {
  font-weight: bold;
  text-align: center;
}
.author img {
  width:50px;
  border-radius: 100%;
}